@media (max-width: 1200px) {      
    .container {
        max-width: 80vw;
    }
}


@media (max-width: 991px) {
    .carousel {
        &__inner {
            img {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
        &__item {
            min-width: 80%;
        }
        &__icon {
            margin-top: 20px;
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        &__official {
            min-width: 170px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .title_left {
        font-size: 30px;
    }
    .carousel {
        button {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 90vw;
    }
    .title {
        font-size: 25px;
    }
    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 60px;
        }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            max-width: 100%;
            margin-top: 45px;
        }
        .button_main{
            margin-top: 40px;
        }
    }
    .consultation {
        &__descr {
            font-size: 18px;
        }
    }
    .advantages {
        &__wrapper {
            margin-top: 0;
        }
        &__item {
            min-width: 90%;
        }
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 95vw;
    }
    .title {
        font-size: 20px;
        text-align: center;
    }
    .button {
        max-width: 100%;
    }
    .button_main {
        margin-top: 48px;
    }
    .header {
        &__official {
            margin-top: 10px;
            span {
                font-size: 12px;
            }
        }
        &__contacts {
            margin-top: 10px;
            align-items: center;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .promo {
        padding: 21px 0 43px 0;
        &__wrapper {
            margin-top: 50px;
        }
        &__icons {
            margin-top: 10px;
        }
        &__icon {
            font-size: 12px;
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 14px; 
        }
    
    }
    .advantages {
        padding: 50px 0 60px 0;
        &__item {
            min-width: 100%;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .consultation {
        padding: 50px 0 40px 0;
        min-height: auto;
        &__descr {
            font-size: 14px;
        }
        .feed-form {
            max-width: 100%;
        }
    }
}